@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .charts{


} */
select:focus{
  box-shadow: none;
}

.stats-page{
  columns: 2;
  padding: 0;
  margin: 0;
}
.chart_title{
  font-family: 'Poppins', sans-serif;
  background-color:#F5F3F2 ;
  color: #635F5D;
  width: 650px;
  margin-bottom: 1px;
  padding: 6px 22px;
  border-radius: 6px 6px 0 0;
}

.data_line{
  stroke: #5c2941
}

.bolinhas{
  stroke:rgb(248, 248, 248);
  stroke-width:1 ;
  fill: #a06c84
}

.tick line{
  stroke:#FFFFFF
}
.tick text{
  fill:#635F5D;
  font-size: 12px;
  font-weight: 600;
}

.chart{
  font-family: 'Poppins', sans-serif;
  background-color: #EFECEA;
  border-radius:0 0 6px 6px ;
}

.axis_label{
  font-size:14px;
}

.history-list  p{
  position: relative;
  background-color: #F5F3F2;
  text-align: center;
  margin:5px;
  padding:15px 70px 20px 10px;
  border-radius: 8px;
  display:inline-block;
}

.history-list span {
  background-color: #EFECEA;
  text-align: center;
  font-weight: bold;
  margin:3px;
  padding:10px;
  display: inline;
  border-radius: 8px;
  text-align: center;
  border-style:dotted;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
}

.history-list .date-span {
  font-size: 0.8em;
  position:absolute;
  left: 3px;
  top:-5px;
  background-color: transparent;
  border-style: hidden;
  padding:none;
  margin: 5px 0 0 0;
  font-weight:lighter ;
  
}

.history-list li{
  display: list-item;
  list-style: none;
}

.history-list button{
  background: none;
  border: hidden;
  cursor: pointer;
}

 .delete-btn {
  display: none;
  position:absolute ;
  right: 3px;
  top:4px;
  transform: scale(0.7);
}

.select-btn {
  position:absolute ;
  right: 14px;
  bottom:22%;
  transform: scale(2.2);
}

.select-btn .unselected{
  fill:transparent;
}

.select-btn .selected{
  fill:rgb(88, 88, 88);
}

.history-list {
  width: 100%;
  height: 600px;
  text-align: right;
  overflow: auto;

}
